<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CxCredentials" type="CxAnalytix.Configuration.CxCredentials, Configuration" />
    <section name="CxConnection" type="CxAnalytix.Configuration.CxConnection, Configuration" />
    <section name="CxAnalyticsService" type="CxAnalytix.Configuration.CxAnalyticsService, Configuration" />
    <section name="CxLogOutput" type="CxAnalytix.Out.Log4NetOutput.LogOutputConfig, Log4NetOutput" />
    <section name="CxMongoOutput" type="CxAnalytix.Out.MongoDBOutput.MongoOutConfig, MongoDBOutput" />
    <section name="CxDB" type="CxAnalytix.CxAuditTrails.DB.Config.CxAuditDBConnection, CxAuditTrailsDB"/>
    <section name="CxAuditTrailSupressions" type="CxAnalytix.AuditTrails.Crawler.Config.CxAuditTrailSupressions, CxAuditTrailsCrawler"/>
    <section name="CxAuditTrailRecords" type="CxAnalytix.AuditTrails.Crawler.Config.CxAuditTrailRecordNameMap, CxAuditTrailsCrawler"/>
  </configSections>

  <!-- Common config parameters -->
  <CxConnection URL="http://localhost"
                mnoURL="http://localhost:8080"
                TimeoutSeconds="600" ValidateCertificates="true" />
  <CxCredentials Username="foo" Password ="bar" />
  <CxAnalyticsService ConcurrentThreads="2" StateDataStoragePath=""
                      ProcessPeriodMinutes="120"
                      OutputFactoryClassPath="CxAnalytix.Out.Log4NetOutput.LoggerOutFactory, Log4NetOutput"
                      SASTScanSummaryRecordName="RECORD_SAST_Scan_Summary"
                      SASTScanDetailRecordName="RECORD_SAST_Scan_Detail"
                      SCAScanSummaryRecordName="RECORD_SCA_Scan_Summary"
                      SCAScanDetailRecordName="RECORD_SCA_Scan_Detail"
                      ProjectInfoRecordName="RECORD_Project_Info"
                      PolicyViolationsRecordName="RECORD_Policy_Violations"
                      />

  <!-- Audit database connection string - only needed if also logging audit tables from the database. -->
  <!--
  <CxDB ConnectionString="server=127.0.0.1\SQLEXPRESS,1433;User Id=foo;Password=bar" />
  -->

  <!-- 
  Audit trail record supressions
  
  Optional if logging audit tables.  Each attribute is also optional and defaults to false if not
  provided.  The audit table corresponding to the attribute name is not crawled if the attribute
  value is set to "true".
  -->
  <!--
  <CxAuditTrailSupressions
    CxDB.accesscontrol.AuditTrail="false"
    CxActivity.dbo.AuditTrail="false"
    CxActivity.dbo.Audit_DataRetention="false"
    CxActivity.dbo.Audit_Logins="false"
    CxActivity.dbo.Audit_Presets="false"
    CxActivity.dbo.Audit_Projects="false"
    CxActivity.dbo.Audit_Queries="false"
    CxActivity.dbo.Audit_QueriesActions="false"
    CxActivity.dbo.Audit_Reports="false"
    CxActivity.dbo.Audit_ScanRequests="false"
    CxActivity.dbo.Audit_Scans="false"
    CxActivity.dbo.Audit_Users="false"
    />
   -->

  <!--
  Audit trail record mappings
  
  Optional if logging audit tables.  Each attribute is also optional and defaults to the record name
  of the logger in the default log4net configuration.  This is mostly useful to provide more appropriate 
  names for MongoDB collections.
  -->
  <!--
  <CxAuditTrailRecords
    CxDB.accesscontrol.AuditTrail="false"
    CxActivity.dbo.AuditTrail="false"
    CxActivity.dbo.Audit_DataRetention="false"
    CxActivity.dbo.Audit_Logins="false"
    CxActivity.dbo.Audit_Presets="false"
    CxActivity.dbo.Audit_Projects="false"
    CxActivity.dbo.Audit_Queries="false"
    CxActivity.dbo.Audit_QueriesActions="false"
    CxActivity.dbo.Audit_Reports="false"
    CxActivity.dbo.Audit_ScanRequests="false"
    CxActivity.dbo.Audit_Scans="false"
    CxActivity.dbo.Audit_Users="false"
    />
  -->

  <!-- Specific output method configuration parameters -->
  <CxLogOutput DataRetentionDays="14" OutputRoot="logs\">
    <PurgeSpecs>
      <spec MatchSpec="*.log.*" />
    </PurgeSpecs>
  </CxLogOutput>


</configuration>