**/bin
**/obj
**/.vs
TransformLogic/TransformLogic.xml
artifacts/
**/*- Copy*
.vscode
**/launchSettings.json

**/*.csproj.user

# Application config file changes need to be forced to avoid inadvertently
# persisting credentials in the Git repository.
**/*.exe.config
**/*.log4net

.build_tools/
**/TestResults

**/DELETE*