**/bin
**/obj
**/.vs
TransformLogic/TransformLogic.xml
artifacts/
**/*- Copy*
.vscode

**/*.csproj.user

# Application config file changes need to be forced to avoid inadvertently
# persisting credentials in the Git repository.
**/*.exe.config


.build_tools/
**/TestResults