[Unit]
Description=CxAnalytix
After=network.target


[Service]
Type=simple
Restart=always
RestartSec=10
User=nobody
ExecStart=/bin/dotnet CxAnalytixDaemon.dll
WorkingDirectory=/opt/cxanalytix
Environment='HOME=/opt/cxanalytix'

[Install]
WantedBy=multi-user.target
