[Unit]
Description=CxAnalytix
After=network.target
StartLimitIntervalSec=0


[Service]
Type=simple
Restart=always
RestartSec=10
User=nobody
ExecStart=/bin/dotnet CxAnalytixDaemon.dll
ExecStartPre=cd /opt/cxanalytix

[Install]
WantedBy=multi-user.target