<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CxCredentials" type="CxAnalytics.Configuration.CxCredentials, Configuration" />
    <section name="CxConnection" type="CxAnalytics.Configuration.CxConnection, Configuration" />
    <section name="CxAnalyticsService" type="CxAnalytics.Configuration.CxAnalyticsService, Configuration" />
    <section name="CxLogOutput" type="CxAnalytics.Out.Log4NetOutput.LogOutputConfig, Log4NetOutput" />
  </configSections>

  <!-- Common config parameters -->
  <CxConnection URL="http://localhost" 
                mnoURL="http://localhost:8080" 
                TimeoutSeconds="600" ValidateCertificates="true" />
  <CxCredentials Username="foo" Password ="bar" Token="" />
  <CxAnalyticsService ConcurrentThreads="1" StateDataStoragePath=".\"
                      ProcessPeriodMinutes="120"
                      OutputFactoryClassPath="CxAnalytics.Out.Log4NetOutput.LoggerOutFactory, Log4NetOutput"
                      SASTScanSummaryRecordName="RECORD_SAST_Scan_Summary"
                      SASTScanDetailRecordName="RECORD_SAST_Scan_Detail"
                      SCAScanSummaryRecordName="RECORD_SCA_Scan_Summary"
                      SCAScanDetailRecordName="RECORD_SCA_Scan_Detail"
                      ProjectInfoRecordName="RECORD_Project_Info"
                      PolicyViolationsRecordName="RECORD_Policy_Violations"
                      />


  <!-- Specific output method configuration parameters -->
  <CxLogOutput DataRetentionDays="14" OutputDirectory=".\" />


</configuration>
