[Unit]
Description=CxAnalytix
After=network.target


[Service]
Type=simple
Restart=always
RestartSec=10
User=nobody
ExecStart=/opt/cxanalytix/CxAnalytixDaemon
WorkingDirectory=/opt/cxanalytix
Environment='HOME=/opt/cxanalytix'

[Install]
WantedBy=multi-user.target
