<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="CxAnalytixService" type="CxAnalytix.Configuration.Impls.CxAnalytixService, Configuration" />
		<section name="CxSASTCredentials" type="CxAnalytix.Configuration.Impls.CxCredentials, Configuration" />
		<section name="CxSCACredentials" type="CxAnalytix.Configuration.Impls.CxMultiTenantCredentials, Configuration" />
		<section name="CxSASTConnection" type="CxAnalytix.Configuration.Impls.CxSASTConnection, Configuration" />
		<section name="CxSCAConnection" type="CxAnalytix.XForm.ScaTransformer.Config.CxScaConnection, ScaTransformer" />
		<section name="ProjectFilterRegex" type="CxAnalytix.Configuration.Impls.CxFilter, Configuration"/>
		<section name="CxAuditTrailSuppressions" type="CxAnalytix.AuditTrails.Crawler.Config.CxAuditTrailSuppressions, CxAuditTrailsCrawler"/>
		<section name="CxAuditTrailRecords" type="CxAnalytix.AuditTrails.Crawler.Config.CxAuditTrailRecordNameMap, CxAuditTrailsCrawler"/>
		<section name="CxDB" type="CxAnalytix.CxAuditTrails.DB.Config.CxAuditDBConnection, CxAuditTrailsDB"/>
		<section name="AMQPConnection" type="CxAnalytix.Out.AMQPOutput.Config.Impls.AmqpConnectionConfig, AMQPOutput"/>
		<section name="AMQPConfig" type="CxAnalytix.Out.AMQPOutput.Config.Impls.AmqpConfig, AMQPOutput"/>
		<section name="CxLogOutput" type="CxAnalytix.Out.Log4NetOutput.Config.Impl.LogOutputConfig, Log4NetOutput" />
		<section name="CxMongoOutput" type="CxAnalytix.Out.MongoDBOutput.Config.Impl.MongoOutConfig, MongoDBOutput" />
		<section name="CxMongoConnection" type="CxAnalytix.Out.MongoDBOutput.Config.Impl.MongoConnectionConfig, MongoDBOutput" />
		<section name="CxOneCredentials" type="CxAnalytix.Configuration.Impls.CxApiTokenCredentials, Configuration" />
		<section name="CxOneConnection" type="CxAnalytix.XForm.CxOneTransformer.Config.CxOneConnection, CxOneTransformer" />
	</configSections>

	<!-- 
	Please see CxAnalytix Manual for configuration documentation.  
	-->
	<CxSASTConnection URL="%CHECKMARX_URL%" TimeoutSeconds="600" ValidateCertificates="true" />
	<CxSASTCredentials Username="%CHECKMARX_USERNAME%" Password ="%CHECKMARX_PASSWORD%" />

	<!-- SCA is disabled by default -->
	<!--
	<CxSCAConnection URL="%CHECKMARX_SCA_API_URL%" LoginURL="%CHECKMARX_SCA_LOGIN_URL%" />
	<CxSCACredentials Username="%CHECKMARX_SCA_USERNAME%" Password="%CHECKMARX_SCA_PASSWORD%" Tenant="%CHECKMARX_SCA_TENANT%" />
	-->

	<!-- CheckmarxOne is disabled by default -->
	<!--
	<CxOneConnection URL="%CHECKMARX_ONE_API_URL%" IAMURL="%CHECKMARX_ONE_IAM_URL%" />
	<CxOneCredentials Tenant="%CHECKMARX_ONE_TENANT%" Token="%CHECKMARX_ONE_TOKEN%" />
	-->

	<CxAnalytixService ConcurrentThreads="2" StateDataStoragePath="%CHECKMARX_STATE_PATH%"
                      ProcessPeriodMinutes="120"
					  OutputModuleName="log4net"
                      SASTScanSummaryRecordName="RECORD_SAST_Scan_Summary"
                      SASTScanDetailRecordName="RECORD_SAST_Scan_Detail"
                      SCAScanSummaryRecordName="RECORD_SCA_Scan_Summary"
                      SCAScanDetailRecordName="RECORD_SCA_Scan_Detail"
                      ProjectInfoRecordName="RECORD_Project_Info"
                      PolicyViolationsRecordName="RECORD_Policy_Violations"
					  ScanStatisticsRecordName="RECORD_Scan_Statistics">

		<EnabledTransformers>
			<Transformer Name="SAST" />
			<!--<Transformer Name="SCA" />-->
			<!--<Transformer Name="CxOne" />-->
		</EnabledTransformers>
	</CxAnalytixService>

	<!--
	<ProjectFilterRegex Team="" Project=""/>
	-->

	<!-- AMQP connection configuration - only needed if using AMQP as an output. -->
	<!--
	<AMQPConnection UserName="foo" Password="bar">
	<ClusterNodes>
		<Endpoint AmqpUri="amqp://localhost:5672"/>
		<Endpoint AmqpUri="amqps://hostname:5671">
		<SSLOptions AllowCertNameMismatch="false" AllowCertificateChainErrors="false" ServerName="myserver"/>
		</Endpoint>
	</ClusterNodes>
	</AMQPConnection>
	-->

	<!-- AMQP routing configuration example - only needed if using AMQP as an output -->
	<!--
	<AMQPConfig DefaultExchange="bar">
		<RecordSpecs>
			<Record Name="SAST_Scan_Summary">
				<MessageHeaders>
					<Header Key="RecordType" Spec="SAST_Scan_Summary" />
					<Header Key="ScanType" Spec="{ScanType}" />
				</MessageHeaders> 
			</Record>
			
			<Record Name="SAST_Scan_Detail" Exchange="foo" TopicSpec="{ScanType}.{NodeId}.{Status}.{ResultSeverity}.{QueryLanguage}.{QueryName}">
				<Filter Mode="Reject">
					<Fields>
						<Field Name="NodeCodeSnippet"/>
					</Fields>
				</Filter>
				<MessageHeaders>
					<Header Key="RecordType" Spec="SAST_Scan_Detail" />
					<Header Key="ScanType" Spec="{ScanType}" />
				</MessageHeaders> 
			</Record>
		</RecordSpecs>
	</AMQPConfig>
	-->



	<!-- Audit database connection string - only needed if also logging audit tables from the database. -->
	<!--
	<CxDB ConnectionString="server=127.0.0.1\SQLEXPRESS,1433;User Id=foo;Password=bar" />
	-->

	<!-- 
	MongoDB connection string - required if storing extracted data into MongoDB 
  
	Environment variable values specified in the connection string definition will be substituted when
	building the connection string.
	-->
	<!--
    <CxMongoConnection ConnectionString="mongodb://%COMPUTERNAME%:27017/<your DB name goes here>" />
	-->

	<!-- 
	MongoDB output configuration - optional if storing extracted data into MongoDB
  
	Shard key examples may not be suitable for data generated based on your scan volume.  
	-->
	<!-- 
	<CxMongoOutput>
	<GeneratedShardKeys>
		<Spec KeyName="SHARD" CollectionName="RECORD_CxDBaccesscontrolAuditTrail" FormatSpec="{Type}-{TimeStamp:yyyy-dddd}"  />
		<Spec KeyName="SHARD" CollectionName="RECORD_CxActivitydboAuditDataRetention" FormatSpec="RETENTION-{TimeStamp:yyyy-dddd}" NoHash="true"  />
		...
		<Spec KeyName="pkey" CollectionName="SAST_Scan_Summary" FormatSpec="{ScanType}-{ScanFinished:yyyy-dddd}"  />
		<Spec KeyName="pkey" CollectionName="SAST_Scan_Detail" FormatSpec="{ScanType}-{QueryGroup}-{ScanFinished:yyyy-dddd}" NoHash="true" />
	</GeneratedShardKeys>
	</CxMongoOutput>
	-->

	<!-- 
	Audit trail record supressions
  
	Optional if logging audit tables.  Each attribute is also optional and defaults to false if not
	provided.  The audit table corresponding to the attribute name is not crawled if the attribute
	value is set to "true".
	-->
	<!--
	<CxAuditTrailSupressions
	CxDB.accesscontrol.AuditTrail="false"
	CxActivity.dbo.AuditTrail="false"
	CxActivity.dbo.Audit_DataRetention="false"
	CxActivity.dbo.Audit_Logins="false"
	CxActivity.dbo.Audit_Presets="false"
	CxActivity.dbo.Audit_Projects="false"
	CxActivity.dbo.Audit_Queries="false"
	CxActivity.dbo.Audit_QueriesActions="false"
	CxActivity.dbo.Audit_Reports="false"
	CxActivity.dbo.Audit_ScanRequests="false"
	CxActivity.dbo.Audit_Scans="false"
	CxActivity.dbo.Audit_Users="false"
	/>
	-->

	<!--
	Audit trail record mappings
  
	Optional if logging audit tables.  Each attribute is also optional and defaults to the record name
	of the logger in the default log4net configuration.  This is mostly useful to provide more appropriate 
	names for MongoDB collections.  The values in this example are the default values used if no specific
	values are provided.
	-->
	<CxAuditTrailRecords
		CxDB.accesscontrol.AuditTrail="RECORD_CxDBaccesscontrolAuditTrail"
		CxActivity.dbo.AuditTrail="RECORD_CxActivitydboAuditTrail"
		CxActivity.dbo.Audit_DataRetention="RECORD_CxActivitydboAuditDataRetention"
		CxActivity.dbo.Audit_Logins="RECORD_CxActivitydboAuditLogins"
		CxActivity.dbo.Audit_Presets="RECORD_CxActivitydboAuditPresets"
		CxActivity.dbo.Audit_Projects="RECORD_CxActivitydboAuditProjects"
		CxActivity.dbo.Audit_Queries="RECORD_CxActivitydboAuditQueries"
		CxActivity.dbo.Audit_QueriesActions="RECORD_CxActivitydboAuditQueriesActions"
		CxActivity.dbo.Audit_Reports="RECORD_CxActivitydboAuditReports"
		CxActivity.dbo.Audit_ScanRequests="RECORD_CxActivitydboAuditScanRequests"
		CxActivity.dbo.Audit_Scans="RECORD_CxActivitydboAuditScans"
		CxActivity.dbo.Audit_Users="RECORD_CxActivitydboAuditUsers"
		/>

	<!-- 
    Optional log purging background task configuration.  Set OutputRoot to the directory where log files
    are generated.  Log files that have not been modified for greater than "DataRetentionDays" will
    be deleted.
	-->
	<CxLogOutput DataRetentionDays="3" OutputRoot="logs\">
		<PurgeSpecs>
			<spec MatchSpec="*.log" />
		</PurgeSpecs>
	</CxLogOutput>

</configuration>
