<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CxCredentials" type="CxAnalytics.Configuration.CxCredentials, Configuration" />
    <section name="CxConnection" type="CxAnalytics.Configuration.CxConnection, Configuration" />
    <section name="CxAnalyticsService" type="CxAnalytics.Configuration.CxAnalyticsService, Configuration" />
    <section name="CxLogOutput" type="CxAnalytics.Out.Log4NetOutput.LogOutputConfig, Log4NetOutput" />
  </configSections>

  <!-- Common config parameters -->
  <CxConnection URL="http://www.foo.com" TimeoutSeconds="600" ValidateCertificates="true" />
  <CxCredentials Username="foo" Password ="bar" Token="" />
  <CxAnalyticsService ConcurrentThreads="2" StateDataFile=".\state.xml"
                      OutputClass="CxAnalytics.Out.Log4NetOutput.LoggerOut, Log4NetOutput"/>


  <!-- Specific output method configuration parameters -->
  <CxLogOutput DataRetentionDays="14" OutputDirectory=".\" />


</configuration>
